@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Chewy&display=swap");

@import "tailwindcss";

@theme inline {
  --font-simpsons: "Boogaloo";
  --font-montserrat: "Montserrat";
  --color-simpsons: #ffe205;
  --animate-flash-red: flashRed 0.5s ease-in-out;
  --animate-scale: scale 0.5s ease-in-out;
  --animate-mistake: mistake 0.5s ease-in-out;
}

@utility bg-toon-simpsons {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/simpsons_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@utility animate-flash-red {
  animation: var(--animate-flash-red);
}

@utility animate-scale {
  animation: var(--animate-scale);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-shown {
  &::-webkit-scrollbar {
    display: block;
  }
}

@utility scrollbar-simpsons {
  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-gray-200);
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-simpsons);
    border-radius: 8px;
  }
}

@keyframes flashRed {
  0% {
    background-color: auto;
  }
  50% {
    background-color: rgba(255, 99, 102, 0.7);
  }
  100% {
    background-color: auto;
  }
}

@keyframes scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.04;
  }
  100% {
    scale: 1;
  }
}

@keyframes mistake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
