@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme inline {
  --font-montserrat: "Montserrat";
  --color-simpsons: #ffe205;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-shown {
  &::-webkit-scrollbar {
    display: block;
  }
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-white);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-200);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-300);
  }
}

@utility scrollbar-simpsons {
  &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-gray-200);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-simpsons);
    border-radius: 8px;
  }
}

body {
  font-family: var(--font-montserrat);
  box-sizing: border-box;
  overflow-x: hidden;
}
